/* CSS - Index */

.index {
    width: 1366px;
    height: 768px;

    margin: 0 auto;
    top: 0px;

    background: linear-gradient(287.56deg, #29B6D1 0%, #00C7C7 100%);
}

.logo {
    text-align: center;
}

.logo h2 {
    font-family: Cherry Bomb;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 1.51rem;
    color: black;
}

.gridLogin {
    display: grid;
    grid-template-columns: 1fr 1.7519fr 1fr;
}

.dog1 {
    width: 364.08px;
}

.dog2 {
    width: 364.08px;
}

input[type=text], input[type=password], input[type=number] {
    width: 100%;
    border-color: black;
    border-radius: 25px;
    padding: 12px 20px;
    margin: 8px 0;
    outline: 0;
    box-sizing: border-box;

    font-family: Cherry Bomb;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2rem;
    color: black;
    text-align: center;
}

input[type=button]{
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(73, 73, 73);

    font-family: Cherry Bomb;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 1.51rem;
    color: black;
    
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=button]:hover {
    transform: translatey(-2px);
}

input[type=button]:active {
    filter: brightness(90%);
    box-shadow: 0 5px rgb(37, 37, 37);
    transform: translateY(4px);
}

.createAccount {
    margin-left: 20px !important;
    background-color: #FFD666 !important;
}

.labelLogin {
    font-family: Cherry Bomb;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 1.51rem;
    color: black;
}

.buttons {
    margin-top: 20px;
}

/* CSS - Main Page */

.mainPage {
    width: 1366px;
    height: 1180px;

    margin: 0 auto;
    top: 0px;

    background-color: #FFD666;
}

.gridSpace {
    width: 1236px;
    height: 1120px;
    margin: 60px auto;
    
    background: linear-gradient(287.56deg, #29B6D1 0%, #00C7C7 100%);
    border: 5px solid #0500FF;
    border-radius: 90px 90px 90px 90px;
}

.filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 1209.47px;
    height: 169.24px;
    margin: 0 auto;
    margin-top: 51.2px;

    border-radius: 20px;
    border: 3px solid #0500FF; 
    background-color: #fd3434;
}

.filtros h1, .filtros h2 {
    font-family: Cherry Bomb;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1rem;
    color: black;
}

.titulo-filtro {
    padding: 12.31px 48.58px;

    width: 100px;
    height: 60px;
}

.raca {
    display: flex;
    justify-content: space-between;

    padding: 12.31px 37.15px;

    width: 320px;
    height: 60px;
}

.raca h2{
    width: 100px;
    height: 60px;
}

.filtros select {
    margin: auto;
    width: 200px;
    height: 50px;

    border-radius: 20px;

    font-family: Cherry Bomb;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: black;
    text-align: center;
    outline: 0;
}

.idade {
    display: flex;
    justify-content: space-between;

    padding: 12.31px 45.725px;

    width: 500px;
    height: 60px;
}

.idadeNum {
    margin: 0 !important;
    width: 80px !important;
    height: 60px !important;
}

.aplicarFiltros {
    padding: 0 !important;
    width: 250px !important;
    height: 50px !important;

    -webkit-appearance: none;
}

.cadastrarDog {
    background-color: #FFD666 !important;
    padding: 0 !important;
    width: 330px !important;
    height: 50px !important;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.sexo {
    display: flex;
    justify-content: space-between;

    padding: 12.31px 45.725px;

    width: 400px;
    height: 60px;
}

.gridDogs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 410px 410px 410px;

    width: 1209.46px;
    height: 780px;
    margin: 0 auto;
    margin-top: 60px;
}

.dogsToAdopt {
    border: 3px solid red;
    display: flex;
    margin: auto;

    width: 350px;
    height: 350px;

    border-radius: 40px;
}

.cabecalho {
    display: grid;
    grid-template-columns: 81.14% 18.86%;
    margin: 0 auto;
    width: 350px;
    height: 157px;

    border-radius: 0 0 36px 36px;

    position: relative;
    top: -160px;

    background-color: #FFFFFF;
}

.cabecalhoGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 284px;
    height: 157px;
}

.cabecalhoGrid h3, .cabecalhoGrid h4 {
    width: 284px;
    margin: auto 20px;

    font-family: Cherry Bomb;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2rem;
    color: black;
}

.sexoDogs {
    margin: 16px;
    width: 34px;
    height: 34px;
}

.buttonDog a{
    text-decoration: none;
}